<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">

	<head>
		<!-- 共通header.html読み込み-->
		<div th:replace="header"></div>
		<title>ユーザー情報消去</title>
		<!-- オリジナルCSS読み込み -->
		<link th:href="@{css/original/common.css}" rel="stylesheet"/>
	</head>

	<body>
		<section id="fh5co-hero" class="no-js-fullheight" style="background-image: url(images/full_image_2.jpg);" data-next="yes">
			<div class="container">
				<div class="fh5co-intro no-js-fullheight">
					<div class="fh5co-intro-text">
						<div class="fh5co-center-position">
							<div th:if="${user != null}">
								<h2 class="animate-box">
									<div th:inline="text">
										<font size="5">本当にログインID&nbsp;:&nbsp;<font color="red">[[${user.loginId}]]</font>を削除してもよろしいでしょうか。</font>
									</div>
								</h2>
							</div>
							<div th:if="${userList != null}">
								<div class="animate-box" style="color:white;">
									<font size="5">本当にログインID&nbsp;:&nbsp;
										<div th:each="user, status : ${userList}" th:object="${user}">
											<div th:if="${status.index == userList.size() - 1}">
												<div th:inline="text">
													<font color="red">[[*{loginId}]]</font>
												</div>
											</div>
											<div th:unless="${status.index == userList.size() - 1}">
												<div th:inline="text">
													<font color="red">[[*{loginId}]]</font>,
												</div>
											</div>
										</div>
										 を削除してもよろしいでしょうか。
									</font>
								</div>
							</div>
							<div th:if="${user == null &amp;&amp; userList == null}">
								<h2 class="animate-box">
									<font size="5">本当に<font color="red">全ユーザー</font>を削除してもよろしいでしょうか。</font>
								</h2>
							</div><br/><br/>
							<p class="animate-box">
								<div class="wrapper">
									<div>
										<a href="UserList" class="btn btn-outline "><i class="icon-play2"></i> Cancel</a>
									</div>
									<div>
										<form th:action="@{UserDelete}" method="post">
											<div th:if="${user != null}">
												<input type="hidden" th:value="${user.getId()}" name="id"/>
											</div>
											<div th:if="${userList != null}">
												<div th:each="user, status : ${userList}" th:object="${user}">
													<input type="hidden" th:value="*{id}" name="idList[]"/>
												</div>
											</div>
											<button  class="btn btn-outline" type="submit"><i class="icon-play2"></i> OK</button>
										</form>
									</div>
								</div>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- 共通footer.html読み込み-->
		<div th:replace="footer"></div>

	</body>

</html>

